<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.ExceSubmittedMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.ExceSubmitted" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="exce_code" property="exceCode" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="exce_type" property="exceType" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="occurrence_time" property="occurrenceTime" jdbcType="TIMESTAMP" />
    <result column="damage_product" property="damageProduct" jdbcType="VARCHAR" />
    <result column="damage_product_num" property="damageProductNum" jdbcType="VARCHAR" />
    <result column="losses" property="losses" jdbcType="DECIMAL" />
    <result column="responsible_person" property="responsiblePerson" jdbcType="VARCHAR" />
    <result column="exce_describe" property="exceDescribe" jdbcType="VARCHAR" />
    <result column="img_serial_no" property="imgSerialNo" jdbcType="VARCHAR" />
    <result column="exce_state" property="exceState" jdbcType="VARCHAR" />
    <result column="report_person_code" property="reportPersonCode" jdbcType="VARCHAR" />
    <result column="report_person_name" property="reportPersonName" jdbcType="VARCHAR" />
    <result column="report_time" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="report_base_code" property="reportBaseCode" jdbcType="VARCHAR" />
    <result column="report_base_name" property="reportBaseName" jdbcType="VARCHAR" />
    <result column="dealing_person_code" property="dealingPersonCode" jdbcType="VARCHAR" />
    <result column="dealing_person_name" property="dealingPersonName" jdbcType="VARCHAR" />
    <result column="dealing_time" property="dealingTime" jdbcType="TIMESTAMP" />
    <result column="dealing_base_code" property="dealingBaseCode" jdbcType="VARCHAR" />
    <result column="dealing_base_name" property="dealingBaseName" jdbcType="VARCHAR" />
    <result column="dealing_opinion" property="dealingOpinion" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryExceSubmittedList" parameterType="com.xescm.ofc.model.dto.exce.ExceSubmittedQueryDto" resultType="com.xescm.ofc.model.vo.exce.ExceSubmittedVo">
    SELECT
      e.id,
      e.exce_code,
      e.report_base_name,
      e.report_region_name,
      e.customer_name,
      e.exce_type,
      e.business_type,
      e.report_time,
      e.occurrence_time,
      e.damage_product,
      e.damage_product_num,
      e.losses,
      e.responsible_person,
      e.exce_state,
      e.order_code,
      ofi.base_name,
      ofi.area_name,
      e.last_operator,
      e.update_time
    FROM
	  exce_submitted e
    LEFT JOIN ofc_fundamental_information ofi ON ofi.order_code = e.order_code
    WHERE
      1=1
    <if test="timeOption != null and timeOption != '' and timeOption == 'report'.toString()">
      <if test="startDate != null and startDate != ''">
        AND e.report_time <![CDATA[ >= ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        AND e.report_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </if>
    <if test="timeOption != null and timeOption != '' and timeOption == 'occurrence'.toString()">
      <if test="startDate != null and startDate != ''">
        AND e.occurrence_time <![CDATA[ >= ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        AND e.occurrence_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </if>
    <if test="areaOption != null and areaOption != '' and areaOption == 'billing'.toString()">
      <if test="areaSerialNo != null and areaSerialNo != ''">
        AND ofi.area_code = #{areaSerialNo}
      </if>
      <if test="baseSerialNo != null and baseSerialNo != ''">
        AND ofi.base_code = #{baseSerialNo}
      </if>
    </if>
    <if test="areaOption != null and areaOption != '' and areaOption == 'report'.toString()">
      <if test="areaSerialNo != null and areaSerialNo != ''">
        AND e.report_region_code = #{areaSerialNo}
      </if>
      <if test="baseSerialNo != null and baseSerialNo != ''">
        AND e.report_base_code = #{baseSerialNo}
      </if>
    </if>
    <if test="exceType != null and exceType != ''">
      AND e.exce_type = #{exceType}
    </if>
    <if test="exceState != null and exceState != ''">
      AND e.exce_state = #{exceState}
    </if>
    <if test="businessType != null and businessType != ''">
      AND e.business_type = #{businessType}
    </if>
    <if test="exceCode != null and exceCode != ''">
      AND e.exce_code = #{exceCode}
    </if>
    <if test="orderCode != null and orderCode != ''">
      AND e.order_code = #{orderCode}
    </if>
    AND e.exce_state IN ('1','2')
    ORDER BY e.update_time DESC
  </select>
</mapper>