<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcCreateOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcFundamentalInformation" >
    <id column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="sec_cust_code" property="secCustCode" jdbcType="VARCHAR" />
    <result column="sec_cust_name" property="secCustName" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="cust_order_code" property="custOrderCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="finished_time" property="finishedTime" jdbcType="TIMESTAMP" />
    <result column="abolish_mark" property="abolishMark" jdbcType="INTEGER" />
    <result column="abolish_time" property="abolishTime" jdbcType="TIMESTAMP" />
    <result column="abolisher" property="abolisher" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="abolisher_name" property="abolisherName" jdbcType="VARCHAR" />

    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
  </resultMap>

  <!--根据客户订单编号与货主编码查询是否存在订单-->
  <select id="queryCountByOrderStatus" resultType="int">
    SELECT
      COUNT(*)
    FROM
      ofc_fundamental_information ofi
    WHERE 1=1
    AND ofi.cust_order_code = #{custOrderCode}
    AND ofi.cust_code = #{custCode}
  </select>

  <resultMap id="queryOrderStatusMap" type="com.xescm.ofc.model.dto.epc.QueryOrderStatusDto">
    <result column="cust_order_code" property="custOrderCode"></result>
    <result column="order_code" property="orderCode"></result>
    <result column="order_status" property="orderStatus"></result>
  </resultMap>

  <select id="queryOrderStatusList" resultMap="queryOrderStatusMap" parameterType="com.xescm.ofc.model.dto.epc.QueryOrderStatusDto">
    SELECT
      ofi.order_code,
      ofi.cust_order_code,
      ofi.cust_code,
      CASE oos.order_status
        WHEN '10' THEN '待审核'
        WHEN '20' THEN '已审核'
        WHEN '30' THEN '任务中'
        ELSE oos.order_status
      END AS order_status
    FROM ofc_fundamental_information ofi
    LEFT JOIN (
        SELECT
        temp.*
        FROM
        ofc_order_status temp
        WHERE temp.lasted_oper_time =
        (SELECT MAX(lasted_oper_time) FROM ofc_order_status
        WHERE temp.order_code = order_code
        ) ORDER BY temp.lasted_oper_time DESC) oos
    ON ofi.order_code = oos.order_code
    WHERE 1=1
    <if test="custCode != '' and custCode != null">
      AND ofi.cust_code = #{custCode}
    </if>
    <if test="startDate != '' and startDate != null">
      <![CDATA[
        AND ofi.order_time >= #{startDate}
      ]]>
    </if>
    <if test="endDate != '' and endDate != null">
      <![CDATA[
        AND ofi.order_time <= #{endDate}
      ]]>
    </if>
    AND oos.order_status IN ('10','20','30')
  </select>

</mapper>