<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcCreateOrderErrorLogMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcCreateOrderErrorLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cust_order_code" property="custOrderCode" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="error_log" property="errorLog" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="baseSql">
    id, cust_order_code, order_time, cust_code, error_log
  </sql>

  <!--<select id="query" parameterType="com.xescm.ofc.domain.OfcCreateOrderErrorLog" resultMap="BaseResultMap">-->
    <!--SELECT-->
      <!--<include refid="baseSql"></include>-->
    <!--FROM-->
      <!--ofc_create_order_error_log log-->
    <!--WHERE 1=1-->
    <!--<if test="orderCode != null">-->
      <!--AND log.order_code = #{orderCode}-->
    <!--</if>-->
    <!--<if test="cust_order_code!= null">-->
      <!--AND cust_order_code = #{orderStatus}-->
    <!--</if>-->
  <!--</select>-->
  <!---->
  <!--<insert id="insert" parameterType="com.xescm.ofc.domain.OfcCreateOrderErrorLog">-->
    <!--INSERT INTO-->
      <!--ofc_create_order_error_log (cust_order_code, order_time, cust_code, error_log)-->
      <!--VALUES (-->
      <!--<choose>-->
        <!--<when test="custOrderCode != null">-->
          <!--#{cust_order_code},-->
        <!--</when>-->
        <!--<otherwise>"",</otherwise>-->
      <!--</choose>-->
      <!--<choose>-->
        <!--<when test="order_time != null">-->
          <!--#{orderTime},-->
        <!--</when>-->
        <!--<otherwise></otherwise>-->
      <!--</choose>-->
      <!--<choose>-->
        <!--<when test="custCode != null">-->
          <!--#{cust_code},-->
        <!--</when>-->
        <!--<otherwise>"",</otherwise>-->
      <!--</choose>-->
      <!--<choose>-->
        <!--<when test="error_log != null">-->
          <!--#{errorLog},-->
        <!--</when>-->
        <!--<otherwise>"",</otherwise>-->
      <!--</choose>-->
      <!--)-->
  <!--</insert>-->

</mapper>