<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcCustOrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcCustOrderStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
    <result column="trace_status" property="traceStatus" jdbcType="VARCHAR" />
    <result column="trace" property="trace" jdbcType="VARCHAR" />
    <result column="lasted_oper_time" property="lastedOperTime" jdbcType="TIMESTAMP" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <select id="orderStatusSelect" resultType="com.xescm.ofc.domain.OfcCustOrderStatus">

    </select>

  <select id="queryByOrderCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    oos.notes
    FROM
    (SELECT
    oos.lasted_oper_time,
    oos.order_status,
    oos.notes
    FROM
    ofc_order_status oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    LEFT JOIN ofc_distribution_basic_info odbi ON oos.order_code = odbi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        oos.order_code =#{orderCode}
      </if>
    </where>
    UNION
    SELECT
    oos.lasted_oper_time,
    oos.order_status,
    oos.notes
    FROM
    ofc_cust_order_status oos
    LEFT JOIN ofc_cust_fundamental_information ofi ON oos.order_code = ofi.order_code
    LEFT JOIN ofc_cust_distribution_basic_info odbi ON oos.order_code = odbi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        oos.order_code =#{orderCode}
      </if>
    </where>) oos
    ORDER BY oos.lasted_oper_time, oos.order_status ASC
  </select>
</mapper>