<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcDailyAccountMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcDailyAccount" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="base_name" property="baseName" jdbcType="VARCHAR" />
    <result column="base_code" property="baseCode" jdbcType="VARCHAR" />
    <result column="two_hour_account" property="twoHourAccount" jdbcType="DECIMAL" />
    <result column="yesterday_account" property="yesterdayAccount" jdbcType="DECIMAL" />
    <result column="have_income_order_account" property="haveIncomeOrderAccount" jdbcType="DECIMAL" />
    <result column="payable_vehicle_account" property="payableVehicleAccount" jdbcType="DECIMAL" />
    <result column="external_vehicle_account" property="externalVehicleAccount" jdbcType="DECIMAL" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="additional_order_percent" property="additionalOrderPercent" jdbcType="VARCHAR" />
    <result column="receivable_percent" property="receivablePercent" jdbcType="VARCHAR" />
    <result column="payable_percent" property="payablePercent" jdbcType="VARCHAR" />
    <result column="total_percent" property="totalPercent" jdbcType="VARCHAR" />
    <result column="additional_order" property="additionalOrder" jdbcType="DECIMAL" />
    <result column="receivable" property="receivable" jdbcType="DECIMAL" />
    <result column="payable" property="payable" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="DECIMAL" />


  </resultMap>

  <resultMap id="orderCount" type="com.xescm.ofc.domain.OrderCountResult">
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="base_name" property="baseName" jdbcType="VARCHAR" />
    <result column="base_code" property="baseCode" jdbcType="VARCHAR" />
    <result column="order_count" property="orderCount" jdbcType="DECIMAL" />
  </resultMap>


  <select id="countTwoHoursOrder"  resultMap="orderCount">
    SELECT
    ofi.area_name,
    ofi.area_code,
    ofi.base_name,
    ofi.base_code,
    count(ofi.order_code) AS order_count
    FROM
    ofc_fundamental_information ofi
    LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
    <where>
      1 = 1
      AND ns.order_latest_status = '40'
      AND ofi.business_type IN ('600', '601', '602')
      AND TIMESTAMPDIFF(MINUTE,ofi.creation_time,ofi.finished_time)<![CDATA[ <= ]]> 120
      <if test="form.startDate!=null and form.startDate!=''">
        AND ofi.creation_time <![CDATA[ >= ]]>  #{form.startDate}
      </if>
      <if test="form.endDate!=null and form.endDate!=''">
        AND ofi.creation_time <![CDATA[ < ]]>  #{form.endDate}
      </if>
    </where>
    GROUP BY
    ofi.area_name,
    ofi.base_name
  </select>


  <select id="yesterdayOrderCount"  resultMap="orderCount">
    SELECT
    ofi.area_name,
    ofi.area_code,
    ofi.base_name,
    ofi.base_code,
    count(ofi.order_code) AS order_count
    FROM
    ofc_fundamental_information ofi
    LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
    <where>
      1 = 1
      AND ns.order_latest_status <![CDATA[ <> ]]> '50'
      AND ofi.business_type IN ('600', '601', '602')
      <if test="form.startDate!=null and form.startDate!=''">
        AND ofi.creation_time <![CDATA[ >= ]]>  #{form.startDate}
      </if>
      <if test="form.endDate!=null and form.endDate!=''">
        AND ofi.creation_time <![CDATA[ < ]]>  #{form.endDate}
      </if>
    </where>
    GROUP BY
    ofi.area_name,
    ofi.base_name
  </select>



  <!-- 运营-查询钉钉平台日报 -->
  <select id="queryDailyAccount" resultMap="BaseResultMap">
    SELECT omo.area_name,omo.area_code,omo.base_name,omo.base_code,omo.two_hour_account,omo.yesterday_account,
    omo.have_income_order_account,omo.payable_vehicle_account,omo.external_vehicle_account,omo.gmt_create,
    omo.gmt_modified,omo.additional_order_percent,omo.receivable_percent,omo.payable_percent,omo,total_percent,
    omo.additional_order,omo.receivable,omo.payable,omo.total
    FROM ofc_daily_account omo
    <where>
      1 = 1
      AND DATE_FORMAT(omo.gmt_create,'%Y-%m-%d')=#{dailydate}
    </where>
    GROUP BY
    omo.area_name,
    omo.base_name
    ORDER BY omo.total desc;
  </select>
</mapper>