<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcEnumerationMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcEnumeration" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="enum_sys" property="enumSys" jdbcType="VARCHAR" />
    <result column="enum_type" property="enumType" jdbcType="VARCHAR" />
    <result column="enum_name" property="enumName" jdbcType="VARCHAR" />
    <result column="enum_value" property="enumValue" jdbcType="VARCHAR" />
  </resultMap>
</mapper>