<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcFundamentalInformationMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcFundamentalInformation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <id column="order_batch_number" property="orderBatchNumber" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="sec_cust_code" property="secCustCode" jdbcType="VARCHAR" />
    <result column="sec_cust_name" property="secCustName" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="cust_order_code" property="custOrderCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="finished_time" property="finishedTime" jdbcType="TIMESTAMP" />
    <result column="abolish_mark" property="abolishMark" jdbcType="INTEGER" />
    <result column="abolish_time" property="abolishTime" jdbcType="TIMESTAMP" />
    <result column="abolisher" property="abolisher" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="abolisher_name" property="abolisherName" jdbcType="VARCHAR" />
    <result column="merchandiser" property="merchandiser" jdbcType="VARCHAR" />
    <result column="transport_type" property="transportType" jdbcType="VARCHAR" />



    <result column="destination_towns" property="destinationTowns" jdbcType="VARCHAR" />
    <result column="destination_district" property="destinationDistrict" jdbcType="VARCHAR" />
    <result column="destination_city" property="destinationCity" jdbcType="VARCHAR" />
    <result column="destination_province" property="destinationProvince" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="trans_code" property="trans_code" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="departure_place" property="departurePlace" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />

  </resultMap>
  <resultMap id="convCustOrderCode" type="java.lang.String">
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getOrderCodeByCustOrderCode" parameterType="java.lang.String" resultMap="convCustOrderCode">
    select
    ofi.order_code
    from
    ofc_fundamental_information ofi
      WHERE ofi.cust_order_code =#{custOrderCode}
  </select>

  <select id="checkCustOrderCode" parameterType="com.xescm.ofc.domain.OfcFundamentalInformation" resultType="java.lang.Integer">
    SELECT
    count(order_code) AS countOrderCode
    FROM
    ofc_fundamental_information ofi
    <where>
      <if test="selfCustOrderCode != null and selfCustOrderCode != ''" >
        cust_order_code != #{selfCustOrderCode}
      </if>
      AND
      cust_order_code = #{custOrderCode}
    </where>
  </select>

  <select id="getOrderCodeByCustOrderCodeAndCustCode" resultMap="convCustOrderCode">
    select
    ofi.order_code
    from
    ofc_fundamental_information ofi
    WHERE ofi.cust_order_code =#{custOrderCode}
    AND ofi.cust_code = #{custCode}
  </select>

  <select id="queryOrder" resultMap="BaseResultMap">
    SELECT
    ofi.order_code,
    ofi.cust_order_code,
    ofi.order_batch_number,
    ofi.order_time,
    ofi.cust_name,
    oos.order_status,
    ofi.order_type,
    ofi.business_type,
    ofi.transport_type,
    ofd.departure_place,
    ofd.destination,
    ofd.trans_code,
    ofd.plate_number,
    ofd.driver_name,
    ofd.contact_number,
    ofd.destination_province,
    ofd.destination_city,
    ofd.destination_district,
    ofd.destination_towns
    FROM
    ofc_fundamental_information ofi,
    ofc_distribution_basic_info ofd,
    ofc_order_status oos
    WHERE ofi.order_code = ofd.order_code
    AND ofi.order_code = oos.order_code
    <choose>
      <when test=" 'orderCode'.toString() == searchType ">
        AND ofi.order_code = #{code}
      </when>
      <when test="'custOrderCode'.toString() == searchType">
        AND ofi.cust_order_code = #{code}
      </when>
      <when test="'transCode'.toString() == searchType">
        AND ofd.trans_code = #{code}
      </when>
      <otherwise></otherwise>
    </choose>
  </select>
  
  <select id="queryOrderByOrderBatchNumber" resultMap="BaseResultMap">
    SELECT ofi.*,odb.consignee_name,owi.warehouse_name,oos.order_status
    FROM ofc_fundamental_information ofi,
    ofc_distribution_basic_info odb,
    ofc_warehouse_information owi,
    ofc_order_status oos
    WHERE ofi.order_code = odb.order_code
    AND
    ofi.order_code = owi.order_code
    AND
    ofi.order_code = oos.order_code
    AND
    ofi.order_batch_number = #{orderBatchNumber}
  </select>

</mapper>