<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcFinanceInformationMapper">
    <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcFinanceInformation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL"/>
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL"/>
        <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="collect_loan_amount" property="collectLoanAmount" jdbcType="DECIMAL"/>
        <result column="collect_service_charge" property="collectServiceCharge" jdbcType="DECIMAL"/>
        <result column="collect_flag" property="collectFlag" jdbcType="VARCHAR"/>
        <result column="count_flag" property="countFlag" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="oper_time" property="operTime" jdbcType="TIMESTAMP"/>
        <result column="print_invoice" property="printInvoice" jdbcType="VARCHAR"/>
        <result column="buyer_payment_method" property="buyerPaymentMethod" jdbcType="VARCHAR"/>
        <result column="insure" property="insure" jdbcType="VARCHAR"/>
        <result column="insure_value" property="insureValue" jdbcType="VARCHAR"/>
        <result column="pick_up_goods" property="pickUpGoods" jdbcType="VARCHAR"/>
        <result column="home_delivery_fee" property="homeDeliveryFee" jdbcType="DECIMAL"/>
        <result column="cargo_insurance_fee" property="cargoInsuranceFee" jdbcType="DECIMAL"/>
        <result column="insurance" property="insurance" jdbcType="DECIMAL"/>
        <result column="two_distribution" property="twoDistribution" jdbcType="VARCHAR"/>
        <result column="two_distribution_fee" property="twoDistributionFee" jdbcType="DECIMAL"/>
        <result column="return_list" property="returnList" jdbcType="VARCHAR"/>
        <result column="return_list_fee" property="returnListFee" jdbcType="DECIMAL"/>
        <result column="expense_payment_party" property="expensePaymentParty" jdbcType="VARCHAR"/>
        <result column="payment" property="payment" jdbcType="VARCHAR"/>
        <result column="current_amount" property="currentAmount" jdbcType="DECIMAL"/>
        <result column="to_pay_amount" property="toPayAmount" jdbcType="DECIMAL"/>
        <result column="return_amount" property="returnAmount" jdbcType="DECIMAL"/>
        <result column="monthly_amount" property="monthlyAmount" jdbcType="DECIMAL"/>
        <result column="luggage" property="luggage" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryByOrderCode" resultMap="BaseResultMap">
        SELECT *
        FROM ofc_finance_information
        WHERE order_code = #{orderCode}
    </select>

    <update id="updateByOrderCode" parameterType="com.xescm.ofc.domain.OfcFinanceInformation">
        update ofc_finance_information
        <set>
            <if test="serviceCharge != null">
                service_charge = #{serviceCharge,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=INTEGER},
            </if>
            <if test="paymentAmount != null">
                payment_amount = #{paymentAmount,jdbcType=INTEGER},
            </if>
            <if test="collectLoanAmount != null">
                collect_loan_amount = #{collectLoanAmount,jdbcType=INTEGER},
            </if>
            <if test="collectServiceCharge != null">
                collect_service_charge = #{collectServiceCharge,jdbcType=INTEGER},
            </if>
            <if test="collectFlag != null">
                collect_flag = #{collectFlag,jdbcType=INTEGER},
            </if>
            <if test="countFlag != null">
                count_flag = #{countFlag,jdbcType=INTEGER},
            </if>
            <if test="notes != null">
                notes = #{notes,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=INTEGER},
            </if>
            <if test="operTime != null">
                oper_time = #{operTime,jdbcType=INTEGER},
            </if>
            <if test="printInvoice != null">
                print_invoice = #{printInvoice,jdbcType=INTEGER},
            </if>
            <if test="buyerPaymentMethod != null">
                buyer_payment_method = #{buyerPaymentMethod,jdbcType=INTEGER},
            </if>
            <if test="insure != null">
                insure = #{insure,jdbcType=INTEGER},
            </if>
            <if test="insureValue != null">
                insure_value = #{insureValue,jdbcType=INTEGER},
            </if>
            <if test="pickUpGoods != null">
                pick_up_goods = #{pickUpGoods,jdbcType=INTEGER},
            </if>
            <if test="homeDeliveryFee != null">
                home_delivery_fee = #{homeDeliveryFee,jdbcType=INTEGER},
            </if>
            <if test="cargoInsuranceFee != null">
                cargo_insurance_fee = #{cargoInsuranceFee,jdbcType=INTEGER},
            </if>
            <if test="insurance != null">
                insurance = #{insurance,jdbcType=INTEGER},
            </if>
            <if test="twoDistribution != null">
                two_distribution = #{twoDistribution,jdbcType=INTEGER},
            </if>
            <if test="twoDistributionFee != null">
                two_distribution_fee = #{twoDistributionFee,jdbcType=INTEGER},
            </if>
            <if test="returnList != null">
                return_list = #{returnList,jdbcType=INTEGER},
            </if>
            <if test="returnListFee != null">
                return_list_fee = #{returnListFee,jdbcType=INTEGER},
            </if>
            <if test="expensePaymentParty != null">
                expense_payment_party = #{expensePaymentParty,jdbcType=INTEGER},
            </if>
            <if test="payment != null">
                payment = #{payment,jdbcType=INTEGER},
            </if>
            <if test="currentAmount != null">
                current_amount = #{currentAmount,jdbcType=INTEGER},
            </if>
            <if test="toPayAmount != null">
                to_pay_amount = #{toPayAmount,jdbcType=INTEGER},
            </if>
            <if test="returnAmount != null">
                return_amount = #{returnAmount,jdbcType=INTEGER},
            </if>
            <if test="monthlyAmount != null">
                monthly_amount = #{monthlyAmount,jdbcType=INTEGER},
            </if>

            <if test="luggage != null">
                luggage = #{luggage,jdbcType=INTEGER},
            </if>
            <if test="openInvoices != null">
                open_invoices = #{openInvoices,jdbcType=INTEGER},
            </if>
        </set>
        where order_code = #{orderCode,jdbcType=VARCHAR}
    </update>

</mapper>