<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcFundamentalInformationMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcFundamentalInformation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <id column="order_batch_number" property="orderBatchNumber" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="sec_cust_code" property="secCustCode" jdbcType="VARCHAR" />
    <result column="sec_cust_name" property="secCustName" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="cust_order_code" property="custOrderCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="finished_time" property="finishedTime" jdbcType="TIMESTAMP" />
    <result column="abolish_mark" property="abolishMark" jdbcType="INTEGER" />
    <result column="abolish_time" property="abolishTime" jdbcType="TIMESTAMP" />
    <result column="abolisher" property="abolisher" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="base_code" property="baseCode" jdbcType="VARCHAR" />
    <result column="base_name" property="baseName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />

    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="abolisher_name" property="abolisherName" jdbcType="VARCHAR" />
    <result column="merchandiser" property="merchandiser" jdbcType="VARCHAR" />
    <result column="transport_type" property="transportType" jdbcType="VARCHAR" />
    <result column="consignment_batch_number" property="consignmentBatchNumber" jdbcType="VARCHAR" />
    <result column="signed_sms" property="signedSms" jdbcType="VARCHAR" />
    <result column="ground_distribution" property="groundDistribution" jdbcType="VARCHAR" />
    <result column="service_product_code" property="serviceProductCode" jdbcType="VARCHAR" />
    <result column="service_product_name" property="serviceProductName" jdbcType="VARCHAR" />
    <!-- <result column="destination_towns" property="destinationTowns" jdbcType="VARCHAR" />
     <result column="destination_district" property="destinationDistrict" jdbcType="VARCHAR" />
     <result column="destination_city" property="destinationCity" jdbcType="VARCHAR" />
     <result column="destination_province" property="destinationProvince" jdbcType="VARCHAR" />
     <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
     <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
     <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
     <result column="trans_code" property="transCode" jdbcType="VARCHAR" />
     <result column="destination" property="destination" jdbcType="VARCHAR" />
     <result column="departure_place" property="departurePlace" jdbcType="VARCHAR" />
     <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
     <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
     <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />

    <result column="departure_province" property="departureProvince" jdbcType="VARCHAR" />
    <result column="departure_city" property="departureCity" jdbcType="VARCHAR" />
    <result column="departure_district" property="departureDistrict" jdbcType="VARCHAR" />
    <result column="departure_towns" property="departureTowns" jdbcType="VARCHAR" />-->
    <result column="is_exception" property="isException" jdbcType="VARCHAR" />
    <result column="exception_reason" property="exceptionReason" jdbcType="VARCHAR" />

  </resultMap>
  <resultMap id="convCustOrderCode" type="java.lang.String">
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getOrderCodeByCustOrderCode" parameterType="java.lang.String" resultMap="convCustOrderCode">
    select
    ofi.order_code
    from
    ofc_fundamental_information ofi
      WHERE ofi.cust_order_code =#{custOrderCode}
  </select>

  <select id="checkCustOrderCode" parameterType="com.xescm.ofc.domain.OfcFundamentalInformation" resultType="java.lang.Integer">
    SELECT
    SUM(temp.countOrderCode)
    FROM
    (
    SELECT
    count(order_code) AS countOrderCode
    FROM
    ofc_fundamental_information ofi
    <where>
      <if test="selfCustOrderCode != null and selfCustOrderCode != ''" >
        cust_order_code != #{selfCustOrderCode}
      </if>
      <if test="custCode != null and custCode != ''">
        and cust_code = #{custCode}
      </if>
      AND
      cust_order_code = #{custOrderCode}
      AND (abolish_mark is null OR abolish_mark = 0)
    </where>
    UNION
    SELECT
    count(order_code) AS countOrderCode
    FROM
    ofc_cust_fundamental_information ofi
    <where>
      <if test="selfCustOrderCode != null and selfCustOrderCode != ''">
        cust_order_code != #{selfCustOrderCode}
      </if>
      <if test="custCode != null and custCode != ''">
        and cust_code = #{custCode}
      </if>
      AND
      cust_order_code = #{custOrderCode}
      AND (abolish_mark is null OR abolish_mark = 0)
    </where>
    ) temp
  </select>

  <select id="getOrderCodeByCustOrderCodeAndCustCode" resultMap="convCustOrderCode">
    select
    ofi.order_code
    from
    ofc_fundamental_information ofi
    WHERE ofi.cust_order_code =#{custOrderCode}
    AND ofi.cust_code = #{custCode}
  </select>

  <select id="queryOrder" resultMap="BaseResultMap">
    SELECT
    ofi.order_code,
    ofi.cust_order_code,
    ofi.order_batch_number,
    ofi.order_time,
    ofi.cust_name,
    oos.order_latest_status as order_status,
    ofi.order_type,
    ofi.business_type,
    ofi.transport_type,
    ofd.departure_place,
    ofd.destination,
    ofd.trans_code,
    ofd.plate_number,
    ofd.driver_name,
    ofd.contact_number,
    ofd.destination_province,
    ofd.destination_city,
    ofd.destination_district,
    ofd.destination_towns,
    ofd.departure_province,
    ofd.departure_city,
    ofd.departure_district,
    ofd.departure_towns
    FROM
    ofc_fundamental_information ofi,
    ofc_distribution_basic_info ofd,
    ofc_order_newstatus oos
    WHERE ofi.order_code = ofd.order_code
    AND ofi.order_code = oos.order_code
    <choose>
      <when test=" 'orderCode'.toString() == searchType ">
        AND ofi.order_code = #{code}
      </when>
      <when test="'custOrderCode'.toString() == searchType">
        AND ofi.cust_order_code = #{code}
      </when>
      <when test="'transCode'.toString() == searchType">
        AND ofd.trans_code = #{code}
      </when>
      <otherwise></otherwise>
    </choose>

  </select>
  
  <select id="queryOrderByOrderBatchNumber" resultMap="BaseResultMap">
    SELECT
      ofi.order_code,
      ofi.order_batch_number,
      ofi.order_time,
      ofi.cust_code,
      ofi.cust_name,
      ofi.sec_cust_code,
      ofi.sec_cust_name,
      ofi.order_type,
      ofi.business_type,
      ofi.cust_order_code,
      ofi.notes,
      ofi.store_code,
      ofi.store_name,
      ofi.platform_type,
      ofi.order_source,
      ofi.product_type,
      ofi.product_name,
      ofi.finished_time,
      ofi.abolish_mark,
      ofi.abolish_time,
      ofi.abolisher,
      ofi.creation_time,
      ofi.creator,
      ofi.operator,
      ofi.oper_time,
      ofi.sale_organization,
      ofi.product_group,
      ofi.sale_department,
      ofi.sale_group,
      ofi.sale_department_desc,
      ofi.sale_group_desc,
      ofi.creator_name,
      ofi.operator_name,
      ofi.abolisher_name,
      ofi.merchandiser,
      ofi.transport_type,
      ofi.base_code,
      ofi.base_name,
      ofi.area_code,
      ofi.area_name,
      ofi.consignment_batch_number,
      ofi.ground_distribution,
      odb.consignee_name,owi.warehouse_name,
      oos.order_latest_status as order_status
      FROM ofc_fundamental_information ofi
      LEFT JOIN ofc_order_newstatus oos ON ofi.order_code = oos.order_code
      LEFT JOIN ofc_distribution_basic_info odb ON odb.order_code = ofi.order_code
      LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
      WHERE ofi.order_batch_number = #{orderBatchNumber}
  </select>
  
  <select id="queryDataByCustOrderCode" resultType="com.xescm.ofc.domain.OfcFundamentalInformation">
    SELECT ofi.order_code,ofi.cust_code,ofi.cust_name
    FROM ofc_fundamental_information ofi WHERE ofi.cust_order_code = #{custOrderCode}
  </select>

  <select id="getLastMerchandiser" resultType="com.xescm.ofc.domain.OfcFundamentalInformation">
    select
    ofi.merchandiser
    from
    ofc_fundamental_information ofi
    WHERE ofi.operator_name =#{operatorName}  ORDER BY ofi.oper_time DESC LIMIT 1
  </select>

  <select id="queryOfcFundInfoByCustOrderCodeAndCustCode" resultType="com.xescm.ofc.domain.OfcFundamentalInformation" parameterType="com.xescm.ofc.domain.OfcFundamentalInformation">
    SELECT *
    FROM ofc_fundamental_information ofi
    WHERE ofi.cust_order_code = #{custOrderCode}
    AND ofi.cust_code = #{custCode}
    AND (ofi.abolish_mark is null OR ofi.abolish_mark  = 0)
    ORDER BY ofi.oper_time DESC LIMIT 1
  </select>
  <select id="checkCustOrderCodeRepeat" resultType="java.lang.Integer">
    SELECT
    COUNT(ofi.order_code)
    FROM
    ofc_fundamental_information ofi
    WHERE
    ofi.cust_order_code = #{custOrderCode}
  </select>
  <select id="queryOrderCodeList" parameterType="com.xescm.ofc.domain.OrderScreenCondition" resultType="java.lang.String">
    SELECT
    ofi.order_code orderCode
    FROM
    ofc_fundamental_information ofi
    <where>
      <if test="orderTimePre!=null and orderTimePre!=''">
        AND ofi.creation_time <![CDATA[ >= ]]>  #{orderTimePre}
      </if>
      <if test="orderTimeSuf!=null and orderTimeSuf!=''">
        AND ofi.creation_time <![CDATA[ <= ]]>  #{orderTimeSuf}
      </if>
      <if test="orderCode!=null and orderCode!=''">
        AND ofi.order_code = #{orderCode}
      </if>
      <if test="orderType != null and orderType != ''">
        AND ofi.order_type = #{orderType}
      </if>
      AND (ofi.abolish_mark is null OR ofi.abolish_mark  = 0)
    </where>
  </select>
    <select id="queryByCondition" resultType="com.xescm.ofc.domain.OfcExceptOrder">
      SELECT
      ofi.order_code orderCode,
      ofi.cust_order_code custOrderCode,
      ofi.cust_code custCode,
      ofi.cust_name custName,
      ofi.order_type orderType,
      ofi.business_type businessType,
      ofi.order_source orderSource,
      ofi.area_code areaCode,
      ofi.area_name areaName,
      ofi.base_code baseCode,
      ofi.base_name baseName,
      ofi.creation_time creationTime,
      odbi.trans_code transCode,
      owi.provide_transport provideTransport
      FROM
      ofc_fundamental_information ofi
      LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
      LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
      <where>
      <if test="orderTimePre!=null and orderTimePre!=''">
        AND ofi.creation_time <![CDATA[ >= ]]>  #{orderTimePre}
      </if>
      <if test="orderTimeSuf!=null and orderTimeSuf!=''">
        AND ofi.creation_time <![CDATA[ < ]]>  #{orderTimeSuf}
      </if>
      <if test="orderCode!=null and orderCode!=''">
        AND ofi.order_code = #{orderCode}
      </if>
      </where>

    </select>

</mapper>