<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcFinanceInformationMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcFinanceInformation" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="collect_loan_amount" property="collectLoanAmount" jdbcType="DECIMAL" />
    <result column="collect_service_charge" property="collectServiceCharge" jdbcType="DECIMAL" />
    <result column="collect_flag" property="collectFlag" jdbcType="VARCHAR" />
    <result column="count_flag" property="countFlag" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="TIMESTAMP" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
  </resultMap>
</mapper>