<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcGoodsDetailsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcGoodsDetailsInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_spec" property="goodsSpec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="realQuantity" property="quantity" jdbcType="DECIMAL" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="production_batch" property="productionBatch" jdbcType="VARCHAR" />
    <result column="production_time" property="productionTime" jdbcType="TIMESTAMP" />
    <result column="invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="cubage" property="cubage" jdbcType="DECIMAL" />
    <result column="total_box" property="totalBox" jdbcType="INTEGER" />
    <result column="goods_category" property="goodsCategory" jdbcType="VARCHAR" />
    <result column="pack" property="pack" jdbcType="VARCHAR" />
    <result column="quantity_unit_price" property="quantityUnitPrice" jdbcType="DECIMAL" />
    <result column="weight_unit_price" property="weightUnitPrice" jdbcType="DECIMAL" />
    <result column="volume_unit_price" property="volumeUnitPrice" jdbcType="DECIMAL" />
  </resultMap>

  <!--订单货品列表查询-->
  <select id="goodsDetailsScreen" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    oos.*
    FROM
    ofc_goods_details_info oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        oos.order_code =#{orderCode}
      </if>
    </where>
  </select>

  <delete id="deleteByOrderCode" parameterType="java.lang.String" >
    <!--
      根据订单编号和货品编号进行删除
    -->
    delete from ofc_goods_details_info
    where order_code = #{orderCode,jdbcType=VARCHAR} AND goods_code = #{goodsCode,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAllByOrderCode" >
    <!-- 根据订单编号进行删除所有符合条件的数据 -->
    delete from ofc_goods_details_info
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </delete>

  <select id="queryByOrderCode" resultMap="BaseResultMap">
    SELECT gdi.*
    FROM ofc_goods_details_info gdi
    LEFT JOIN
    ofc_fundamental_information ofi
    ON ofi.order_code = gdi.order_code
    WHERE
     gdi.order_code = #{orderCode}
  </select>


  <update id="updateByOrderCode" parameterType="com.xescm.ofc.domain.OfcGoodsDetailsInfo" >
    <!--
      根据计划单号进行修改
    -->
    update ofc_goods_details_info
    <set >
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="productionBatch != null" >
        production_batch = #{productionBatch,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        production_time = #{productionTime,jdbcType=INTEGER},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategory != null" >
        goods_category = #{goodsCategory,jdbcType=VARCHAR},
      </if>
    </set>
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
</mapper>