<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcGoodsDetailsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcGoodsDetailsInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_spec" property="goodsSpec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="real_quantity" property="realQuantity" jdbcType="DECIMAL" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="production_batch" property="productionBatch" jdbcType="VARCHAR" />
    <result column="production_time" property="productionTime" jdbcType="TIMESTAMP" />
    <result column="invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="cubage" property="cubage" jdbcType="DECIMAL" />
    <result column="total_box" property="totalBox" jdbcType="INTEGER" />
    <result column="goods_category" property="goodsCategory" jdbcType="VARCHAR" />
    <result column="goods_category_code" property="goodsCategoryCode" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_type_code" property="goodsTypeCode" jdbcType="VARCHAR" />
    <result column="pack" property="pack" jdbcType="VARCHAR" />
    <result column="quantity_unit_price" property="quantityUnitPrice" jdbcType="DECIMAL" />
    <result column="weight_unit_price" property="weightUnitPrice" jdbcType="DECIMAL" />
    <result column="volume_unit_price" property="volumeUnitPrice" jdbcType="DECIMAL" />
    <result column="support_batch" property="supportBatch" jdbcType="VARCHAR" />
    <result column="support_name" property="supportName" jdbcType="VARCHAR" />
    <result column="package_name" property="packageName" jdbcType="VARCHAR" />
    <result column="package_type" property="packageType" jdbcType="VARCHAR" />
    <result column="conversion_rate" property="conversionRate" jdbcType="DECIMAL" />
    <result column="primary_quantity" property="primaryQuantity" jdbcType="DECIMAL" />
    <result column="line_no" property="paas_line_no" jdbcType="INTEGER" />
    <result column="line_no" property="external_paas_line_no" jdbcType="VARCHAR"  />
    <result column="manufacture_batch_lotatt" property="manufactureBatchLotatt" jdbcType="VARCHAR" />

  </resultMap>

  <!--订单货品列表查询-->
  <select id="goodsDetailsScreen" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    oos.id,
    oos.goods_code,
    oos.goods_name,
    oos.goods_spec,
    oos.unit,
    oos.quantity,
    oos.real_quantity,
    oos.unit_price,
    oos.production_batch,
    oos.production_time,
    oos.invalid_time,
    oos.order_code,
    oos.notes,
    oos.creation_time,
    oos.creator,
    oos.operator,
    oos.oper_time,
    oos.weight,
    oos.cubage,
    oos.total_box,
    oos.goods_category,
    oos.goods_category_code,
    oos.pack,
    oos.quantity_unit_price,
    oos.weight_unit_price,
    oos.volume_unit_price,
    oos.billing_weight,
    oos.goods_type,
    oos.goods_type_code,
    oos.charging_ways,
    oos.charging_quantity,
    oos.charging_unit_price,
    oos.support_batch,
    oos.support_name,
    oos.package_name,
    oos.package_type,
    oos.conversion_rate,
    oos.primary_quantity,
    oos.paas_line_no,
    oos.external_paas_line_no,
    oos.manufacture_batch_lotatt
    FROM
    ofc_goods_details_info oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        oos.order_code =#{orderCode}
      </if>
    </where>
  </select>

  <delete id="deleteByOrderCode" parameterType="java.lang.String" >
    <!--
      根据订单编号和货品编号进行删除
    -->
    delete from ofc_goods_details_info
    where order_code = #{orderCode,jdbcType=VARCHAR} AND goods_code = #{goodsCode,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAllByOrderCode" >
    <!-- 根据订单编号进行删除所有符合条件的数据 -->
    delete from ofc_goods_details_info
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </delete>

  <select id="queryByOrderCode" resultMap="BaseResultMap">
    SELECT
      gdi.id,
      gdi.goods_code,
      gdi.goods_name,
      gdi.goods_spec,
      gdi.unit,
      gdi.quantity,
      gdi.unit_price,
      gdi.production_batch,
      gdi.production_time,
      gdi.invalid_time,
      gdi.order_code,
      gdi.notes,
      gdi.creation_time,
      gdi.creator,
      gdi.operator,
      gdi.oper_time,
      gdi.weight,
      gdi.cubage,
      gdi.total_box,
      gdi.goods_category,
      gdi.goods_category_code,
      gdi.pack,
      gdi.quantity_unit_price,
      gdi.weight_unit_price,
      gdi.volume_unit_price,
      gdi.billing_weight,
      gdi.goods_type,
      gdi.goods_type_code,
      gdi.charging_ways,
      gdi.charging_quantity,
      gdi.charging_unit_price,
      gdi.support_batch,
      gdi.support_name,
      gdi.package_name,
      gdi.package_type,
      gdi.conversion_rate,
      gdi.primary_quantity,
      gdi.paas_line_no,
      gdi.external_paas_line_no,
      gdi.manufacture_batch_lotatt
    FROM ofc_goods_details_info gdi
    LEFT JOIN
    ofc_fundamental_information ofi
    ON ofi.order_code = gdi.order_code
    WHERE
     gdi.order_code = #{orderCode}
  </select>


  <update id="updateByOrderCode" parameterType="com.xescm.ofc.domain.OfcGoodsDetailsInfo" >
    <!--
      根据计划单号进行修改
    -->
    update ofc_goods_details_info
    <set >
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="realQuantity != null" >
        real_quantity = #{realQuantity,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="productionBatch != null" >
        production_batch = #{productionBatch,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        production_time = #{productionTime,jdbcType=INTEGER},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategory != null" >
        goods_category = #{goodsCategory,jdbcType=VARCHAR},
      </if>
    </set>
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
</mapper>