<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcMobileOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcMobileOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mobile_order_code" property="mobileOrderCode" jdbcType="VARCHAR" />
    <result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP" />
    <result column="dingding_account_no" property="dingdingAccountNo" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="tran_code" property="tranCode" jdbcType="VARCHAR" />
    <result column="mobile_order_status" property="mobileOrderStatus" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="accepter" property="accepter" jdbcType="VARCHAR" />
    <result column="appcet_date" property="appcetDate" jdbcType="TIMESTAMP" />
    <result column="serial_no" property="serialNo" jdbcType="VARCHAR" />
    <result column="pic_param" property="picParam" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryOrderNotes" resultType="com.xescm.ofc.domain.OfcMobileOrder">
    SELECT omo.mobile_order_code,omo.upload_date,omo.operator,omo.business_type,omo.mobile_order_status,omo.dingding_account_no,
    omo.tran_code,omo.order_code,omo.accepter,omo.appcet_date,omo.serial_no,omo.pic_param
    FROM ofc_mobile_order omo where
        1=1
    <if test="mobileOrderStatus!=null and mobileOrderStatus!=''">
      AND omo.mobile_order_status = #{mobileOrderStatus}
    </if>
    <if test="dingdingAccountNo!=null and dingdingAccountNo!=''">
      AND omo.dingding_account_no = #{dingdingAccountNo}
    </if>
    ORDER BY omo.upload_date DESC LIMIT 20
  </select>

  <!-- 运营-订单管理查询 -->
  <select id="queryOrderList" resultMap="BaseResultMap">
    SELECT omo.mobile_order_code,omo.upload_date,omo.operator,omo.business_type,omo.mobile_order_status,omo.dingding_account_no,
    omo.tran_code,omo.order_code,omo.accepter,omo.appcet_date,
    omo.serial_no,omo.pic_param
    FROM ofc_mobile_order omo
    <where>
       1 = 1
      <if test="form.startDate!=null and form.startDate!=''">
        AND omo.upload_date <![CDATA[ >= ]]>  #{form.startDate}
      </if>
      <if test="form.endDate!=null and form.endDate!=''">
        AND omo.upload_date <![CDATA[ <= ]]>  #{form.endDate}
      </if>
      <if test="form.mobileOrderStatus!=null and form.mobileOrderStatus!=''">
        AND omo.mobile_order_status = #{form.mobileOrderStatus}
      </if>
      <if test="form.businessType!=null and form.businessType!=''">
        AND omo.business_type = #{form.businessType}

      </if>
    </where>
    ORDER BY omo.mobile_order_code DESC
  </select>


  <update id="updateByMobileCode" parameterType="com.xescm.ofc.domain.OfcMobileOrder" >
    <!--
      根据计划单号进行修改
    -->
    update ofc_mobile_order
    <set >
      <if test="mobileOrderStatus != null" >
        mobile_order_status = #{mobileOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null" >
        accepter = #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="appcetDate != null" >
        appcet_date = #{appcetDate,jdbcType=INTEGER},
      </if>
    </set>
    where mobile_order_code = #{mobileOrderCode,jdbcType=VARCHAR}
  </update>
</mapper>