<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcOrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcOrderStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
    <result column="lasted_oper_time" property="lastedOperTime" jdbcType="TIMESTAMP" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByOrderCode" parameterType="java.lang.String" >
    <!--
      根据订单编号进行删除
    -->
    delete from ofc_order_status
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </delete>

  <!--订单状态列表查询-->
  <select id="orderStatusScreen" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    oos.notes
    FROM
    ofc_order_status oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    LEFT JOIN ofc_distribution_basic_info odbi ON oos.order_code = odbi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        oos.order_code =#{orderCode}
      </if>
      <if test="custOrderCode!=null and custOrderCode!=''">
        OR ofi.cust_order_code =#{custOrderCode}
      </if>
      <if test="transCode!=null and transCode!=''">
        OR odbi.trans_code =#{transCode}
      </if>
    </where>
    ORDER BY oos.lasted_oper_time ASC
  </select>
  <!--订单最新状态-->
  <select id="orderStatusSelect" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    oos.*
    FROM
    (
    SELECT
    s.order_code,
    s.order_status,
    s.status_desc,
    s.lasted_oper_time,
    s.notes,
    s.operator,
    s.creation_time
    FROM
    ofc_order_status s,
    (
    SELECT
    s.order_code,
    max(s.lasted_oper_time) val
    FROM
    ofc_order_status s
    GROUP BY
    s.order_code
    ) b
    WHERE
    s.order_code = b.order_code
    AND s.lasted_oper_time = b.val
    ORDER BY
    s.order_code
    ) oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    LEFT JOIN ofc_distribution_basic_info odbi ON oos.order_code = odbi.order_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
         OR ofi.order_code =#{orderCode,jdbcType=VARCHAR}
      </if>
      <if test="custOrderCode!=null and custOrderCode!=''">
        OR ofi.cust_order_code =#{custOrderCode}
      </if>
      <if test="transCode!=null and transCode!=''">
        OR odbi.trans_code =#{transCode}
      </if>
    </where>
    GROUP BY ofi.order_code
  </select>


  <select id="queryOrderStateByOrderCode" resultType="com.xescm.ofc.domain.OfcOrderStatus">
    SELECT *
    FROM ofc_order_status oos
    WHERE oos.order_code = #{orderCode}
  </select>


  <!--修改订单状态，并标记为作废-->
  <update id="cancelOrderStateByOrderCode">
    UPDATE ofc_order_status oos, ofc_fundamental_information ofi
    SET oos.order_status = '50',ofi.abolish_mark = '1'
    WHERE oos.order_code = ofi.order_code
    AND ofi.order_code = #{orderCode}
    AND oos.order_status IN ('10','20','30')
  </update>

  <select id="queryOrderStatus" resultMap="BaseResultMap">
    SELECT
    oos.notes
    FROM
    ofc_order_status oos
    LEFT JOIN ofc_fundamental_information ofi ON oos.order_code = ofi.order_code
    LEFT JOIN ofc_distribution_basic_info odbi ON oos.order_code = odbi.order_code
    <where>
      <choose>
        <when test=" 'orderCode'.toString() == searchType ">
          AND ofi.order_code = #{code}
        </when>
        <when test="'custOrderCode'.toString() == searchType">
          AND ofi.cust_order_code = #{code}
        </when>
        <when test="'transCode'.toString() == searchType">
          AND odbi.trans_code = #{code}
        </when>
        <otherwise></otherwise>
      </choose>
    </where>
    ORDER BY oos.lasted_oper_time ASC
  </select>

  <!--获取最新状态-->
  <select id="queryLastUpdateOrderByOrderCode" resultType="com.xescm.ofc.domain.OfcOrderStatus">
     SELECT
        id, order_code,order_status,status_desc,lasted_oper_time,notes,operator
    FROM
        ofc_order_status
    WHERE
        order_status = (
            SELECT
                MAX(order_status)
            FROM
                ofc_order_status
            WHERE
                order_code = #{orderCode}
        )
    LIMIT 1
  </select>


  <!--获取最新状态-->
  <select id="queryLastTimeOrderByOrderCode" resultType="com.xescm.ofc.domain.OfcOrderStatus">
    SELECT
    id, order_code,order_status,status_desc,lasted_oper_time,notes,operator
    FROM
    ofc_order_status
    WHERE
    lasted_oper_time = (
    SELECT
    MAX(lasted_oper_time)
    FROM
    ofc_order_status
    WHERE
    order_code = #{orderCode}
    )
    LIMIT 1
  </select>

  <!-- 批量插入订单状态主键id -->
  <insert id="batchInsertOrderStatusId" parameterType="java.util.List">
    INSERT INTO ofc_order_status_copy (id, order_code, order_status, status_desc, lasted_oper_time, notes, operator, creation_time)
    VALUES
    <foreach collection="statusList" item="status" index="index" separator=",">
      (#{status.id}, #{status.orderCode}, #{status.orderStatus}, #{status.statusDesc}, #{status.lastedOperTime}, #{status.notes}, #{status.operator}, #{status.creationTime})
    </foreach>
  </insert>
</mapper>