<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcOrderScreenMapper" >
    <resultMap id="orderSearchResultMap" type="com.xescm.ofc.domain.OrderScreenResult">
        <!--配置映射关系-->
        <!--column是结果集中的列名,property是pojo的属性-->
        <result property="orderCode" column="order_code"></result>
        <result property="custOrderCode" column="cust_order_code"></result>
        <result property="orderTime" column="order_time"></result>
        <result property="orderType" column="order_type"></result>
        <result property="businessType" column="business_type"></result>
        <result property="orderStatus" column="order_status"></result>
        <result property="consigneeName" column="consignee_name"></result>
        <result property="warehouseName" column="warehouse_name"></result>
        <result property="notes" column="notes"></result>
        <result property="storeName" column="store_name"></result>
        <result property="custName" column="cust_name"></result>
    </resultMap>
    <resultMap id="Order_Search_Oper_Map" type="com.xescm.ofc.domain.OrderSearchOperResult">
        <result column="cust_name" property="custName" jdbcType="VARCHAR"></result>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"></result>
        <result column="cust_order_code" property="custOrderCode" jdbcType="VARCHAR"></result>
        <result column="order_batch_number" property="orderBatchNumber" jdbcType="VARCHAR"></result>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"></result>
        <result column="order_type" property="orderType" jdbcType="VARCHAR"></result>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"></result>
        <result column="base_name" property="baseName" jdbcType="VARCHAR"></result>
        <result column="order_status" property="orderStatus" jdbcType="VARCHAR"></result>
        <result column="consignee_type" property="consigneeType" jdbcType="VARCHAR"></result>
        <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR"></result>
        <result column="consignee_contact_name" property="consigneeContactName" jdbcType="VARCHAR"></result>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"></result>
        <result column="notes" property="notes" jdbcType="VARCHAR"></result>
        <result column="is_exception" property="isException" jdbcType="VARCHAR"></result>
        <result column="exception_reason" property="exceptionReason" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="queryOrderListField">
        ofi.cust_name,
        ofi.cust_code,
        ofi.order_code,
        ofi.cust_order_code,
        ofi.order_batch_number,
        ofi.order_time,
        odbi.weight,
        ofi.order_type,
        ofi.business_type,
        ofi.base_name,
        ns.order_latest_status as order_status,
        odbi.consignee_type,
        odbi.consignee_name,
        odbi.consignee_contact_name,
        owi.warehouse_name,
        ofi.notes,
        ofi.store_name,
        ofi.is_exception,
        ofi.exception_reason,
        ofi.creation_time,
        ofi.area_name
    </sql>
    <!--
    SELECT
    ofi.order_code 订单编号,
    ofi.cust_order_code 客户订单编号,
    ofi.order_time 订单日期,
    ofi.order_type 订单类型,
    ofi.business_type 业务类型,
    oos.order_status 订单状态,
    odbi.consignee_name 收货方名称,
    owi.warehouse_name 仓库名称,
    ofi.notes 备注,
    ofi.store_name 店铺名称
    FROM
    ofc_fundamental_information ofi
    LEFT JOIN ofc_order_status oos ON ofi.order_code = oos.order_code
    LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
    LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
    -->
    <select id="orderScreen" parameterType="com.xescm.ofc.domain.OrderScreenCondition" resultMap="orderSearchResultMap">
        SELECT
        ofi.order_code orderCode,
        ofi.cust_order_code custOrderCode,
        ofi.order_time orderTime,
        ofi.order_type orderType,
        ofi.business_type businessType,
        oos.order_status orderStatus,
        odbi.consignee_type consigneeType,
        odbi.consignee_name consigneeName,
        odbi.consignee_contact_name consigneeContactName,
        owi.warehouse_name warehouseName,
        ofi.notes notes,
        ofi.store_name storeName
        FROM
          ofc_fundamental_information ofi
        LEFT JOIN (
        SELECT
        s.order_code,
        s.order_status,
        s.status_desc,
        s.lasted_oper_time,
        s.notes,
        s.operator
        FROM
        ofc_order_status s,
        (
        SELECT
        s.order_code,
        max(s.lasted_oper_time) val
        FROM
        ofc_order_status s
        GROUP BY
        s.order_code
        ) b
        WHERE
        s.order_code = b.order_code
        AND s.lasted_oper_time = b.val
        ORDER BY
        s.order_code DESC
        ) oos ON ofi.order_code = oos.order_code
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
            <where>
                <if test="orderTimePre!=null and orderTimePre!=''">
                    AND ofi.order_time <![CDATA[ >= ]]>  #{orderTimePre}
                </if>
                <if test="orderTimeSuf!=null and orderTimeSuf!=''">
                    AND ofi.order_time <![CDATA[ <= ]]>  #{orderTimeSuf}
                </if>
                <if test="orderCode!=null and orderCode!=''">
                    AND ofi.order_code = #{orderCode}
                </if>
                <if test="custOrderCode!=null and custOrderCode!=''">
                    AND ofi.cust_order_code = #{custOrderCode}
                </if>
                <if test="orderStatus!=null and orderStatus!=''">
                    AND oos.order_status = #{orderStatus}
                </if>
                <if test="orderType!=null and orderType!=''">
                    AND ofi.order_type = #{orderType}
                </if>
                <if test="businessType!=null and businessType!=''">
                    AND ofi.business_type = #{businessType}
                </if>
        </where>
        ORDER BY ofi.order_code DESC
        <!--GROUP BY ofi.order_code-->
    </select>


    <select id="queryOrderOper" resultMap="orderSearchResultMap">
        SELECT
        ofi.cust_name custName,
        ofi.order_code orderCode,
        ofi.cust_order_code custOrderCode,
        ofi.order_batch_number,
        ofi.order_time orderTime,
        ofi.order_type orderType,
        ofi.business_type businessType,
        oos.order_status orderStatus,
        odbi.consignee_type consigneeType,
        odbi.consignee_name consigneeName,
        odbi.consignee_contact_name consigneeContactName,
        owi.warehouse_name warehouseName,
        ofi.notes notes,
        ofi.store_name storeName
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN (
          SELECT
            temp.order_code,
            temp.order_status,
            temp.status_desc,
            temp.lasted_oper_time,
            temp.notes,
            temp.operator,
            temp.creation_time
          FROM ofc_order_status temp
          WHERE temp.lasted_oper_time = (
          SELECT MAX(lasted_oper_time) FROM ofc_order_status
            WHERE temp.order_code = order_code
        ) ORDER BY temp.lasted_oper_time DESC
        ) oos ON ofi.order_code = oos.order_code
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.orderState!=null and form.orderState!=''">
                AND oos.order_status = #{form.orderState}
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
        </where>
    </select>

    <select id="searchOverallOrder" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct order_code from (
            select ofi.order_code from ofc_fundamental_information ofi
            left join ofc_order_newstatus oos on ofi.order_code = oos.order_code
            where 1 = 1
            <if test="code != '' and code != null">
                and (ofi.order_code = #{code,jdbcType=VARCHAR}
                or ofi.cust_order_code = #{code,jdbcType=VARCHAR})
                and oos.order_latest_status != '50'
            </if>
            union all
            select odbi.order_code from ofc_distribution_basic_info odbi
            left join ofc_order_newstatus oos on odbi.order_code = oos.order_code
            where 1 = 1
            <if test="code != '' and code != null">
                and odbi.trans_code = #{code,jdbcType=VARCHAR}
                and oos.order_latest_status != '50'
            </if>
        )tmp
    </select>

    <select id="queryOrderListForCustUnion" resultMap="Order_Search_Oper_Map">
        SELECT
        *
        FROM (
        SELECT DISTINCT
        ofi.cust_name,
        ofi.order_code,
        ofi.cust_order_code,
        ofi.order_batch_number,
        ofi.order_time,
        ofi.order_type,
        ofi.business_type,
        ofi.base_name,
        ns.order_latest_status as order_status,
        odbi.consignee_type,
        odbi.consignee_name,
        odbi.consignee_contact_name,
        owi.warehouse_name,
        ofi.notes,
        ofi.store_name,
        ofi.is_exception,
        ofi.exception_reason
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if
                    test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        UNION
        SELECT DISTINCT
        ofi.cust_name,
        ofi.order_code,
        ofi.cust_order_code,
        ofi.order_batch_number,
        ofi.order_time,
        ofi.order_type,
        ofi.business_type,
        ofi.base_name,
        ns.order_latest_status as order_status,
        odbi.consignee_type,
        odbi.consignee_name,
        odbi.consignee_contact_name,
        owi.warehouse_name,
        ofi.notes,
        ofi.store_name,
        ofi.is_exception,
        ofi.exception_reason
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderState!=null and form.orderState!=''">
                AND  ns.order_latest_status = #{form.orderState}
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="userGroupCode != null and userGroupCode != ''">
                AND ofi.base_code = #{userGroupCode}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
        </where>
        UNION
        SELECT DISTINCT
        ofi.cust_name,
        ofi.order_code,
        ofi.cust_order_code,
        ofi.order_batch_number,
        ofi.order_time,
        ofi.order_type,
        ofi.business_type,
        ofi.base_name,
        ns.order_latest_status as order_status,
        odbi.consignee_type,
        odbi.consignee_name,
        odbi.consignee_contact_name,
        owi.warehouse_name,
        ofi.notes,
        ofi.store_name,
        ofi.is_exception,
        ofi.exception_reason
        FROM
        ofc_cust_fundamental_information ofi
        LEFT JOIN ofc_cust_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_cust_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_cust_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if
                    test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        UNION
        SELECT DISTINCT
        ofi.cust_name,
        ofi.order_code,
        ofi.cust_order_code,
        ofi.order_batch_number,
        ofi.order_time,
        ofi.order_type,
        ofi.business_type,
        ofi.base_name,
        ns.order_latest_status as order_status,
        odbi.consignee_type,
        odbi.consignee_name,
        odbi.consignee_contact_name,
        owi.warehouse_name,
        ofi.notes,
        ofi.store_name,
        ofi.is_exception,
        ofi.exception_reason
        FROM ofc_cust_fundamental_information ofi
        LEFT JOIN ofc_cust_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_cust_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_cust_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderState!=null and form.orderState!=''">
                AND  ns.order_latest_status = #{form.orderState}
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="userGroupCode != null and userGroupCode != ''">
                AND ofi.base_code = #{userGroupCode}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
        </where>
        ) temp
        ORDER BY temp.order_code DESC
    </select>


    <select id="queryOrderListForCust" resultMap="Order_Search_Oper_Map">
        SELECT
        * FROM
        (SELECT DISTINCT
        <include refid="queryOrderListField"/>
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.groundDistribution!=null and form.groundDistribution!=''">
                AND ofi.ground_distribution = #{form.groundDistribution}
            </if>

            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        UNION
        SELECT DISTINCT
        <include refid="queryOrderListField"/>
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.groundDistribution!=null and form.groundDistribution!=''">
                AND ofi.ground_distribution = #{form.groundDistribution}
            </if>

            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>) temp
        ORDER BY temp.order_code DESC
    </select>

    <select id="queryOrderListForCustPrecise" resultMap="Order_Search_Oper_Map">
        SELECT
        *
        FROM (
        SELECT DISTINCT
        <include refid="queryOrderListField"/>,
        owi.warehouse_code,owi.provide_transport
        FROM
        ofc_fundamental_information ofi
        LEFT JOIN ofc_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        UNION
        SELECT DISTINCT
        <include refid="queryOrderListField"/>,
        owi.warehouse_code,owi.provide_transport
        FROM
        ofc_cust_fundamental_information ofi
        LEFT JOIN ofc_cust_distribution_basic_info odbi ON ofi.order_code = odbi.order_code
        LEFT JOIN ofc_cust_warehouse_information owi ON ofi.order_code = owi.order_code
        LEFT JOIN ofc_cust_order_newstatus ns ON ofi.order_code = ns.order_code
        <where>
            <if test="form.startDate!=null and form.startDate!=''">
                AND ofi.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND ofi.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND ofi.order_code = #{form.orderCode}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND ofi.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND ofi.cust_code = #{form.custCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND ofi.cust_order_code = #{form.custOrderCode}
            </if>
            <if test="form.orderStateList!=null and form.orderStateList!=''">
                AND  ns.order_latest_status IN (
                <foreach collection="form.orderStateList" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND ofi.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND ofi.business_type = #{form.businessType}
            </if>
            <if test="form.baseSerialNo!=null and form.baseSerialNo!=''">
                AND ofi.base_code = #{form.baseSerialNo}
            </if>
            <if test="form.areaSerialNo!=null and form.areaSerialNo!=''">
                AND ofi.area_code = #{form.areaSerialNo}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND owi.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND owi.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <choose>
                <when test="withUser != null and withUser and userId != null and userId != ''">
                    AND ofi.creator = #{userId, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    <if test="userId != null and userId != ''">
                        OR ofi.creator = #{userId, jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        ) temp
        <where>
            1=1
            <if test="form.startDate!=null and form.startDate!=''">
                AND temp.order_time <![CDATA[ >= ]]>  #{form.startDate}
            </if>
            <if test="form.endDate!=null and form.endDate!=''">
                AND temp.order_time <![CDATA[ <= ]]>  #{form.endDate}
            </if>
            <if test="form.custName!=null and form.custName!=''">
                AND temp.cust_name = #{form.custName}
            </if>
            <if test="form.custCode!=null and form.custCode!=''">
                AND temp.cust_code = #{form.custCode}
            </if>
            <if test="form.orderState!=null and form.orderState!=''">
                AND temp.order_status = #{form.orderState}
            </if>
            <if test="form.orderType!=null and form.orderType!=''">
                AND temp.order_type = #{form.orderType}
            </if>
            <if test="form.businessType!=null and form.businessType!=''">
                AND temp.business_type = #{form.businessType}
            </if>
            <if test="form.warehouseCode!=null and form.warehouseCode!=''">
                AND temp.warehouse_code = #{form.warehouseCode}
            </if>
            <if test="form.provideTransport!=null">
                AND temp.provide_transport = #{form.provideTransport, jdbcType=INTEGER}
            </if>
            <if test="form.orderCode!=null and form.orderCode!=''">
                AND temp.order_code = #{form.orderCode}
            </if>
            <if test="form.custOrderCode!=null and form.custOrderCode!=''">
                AND temp.cust_order_code = #{form.custOrderCode}
            </if>
        </where>
        ORDER BY temp.order_code DESC
    </select>

</mapper>