<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcPlanScreenMapper" >
    <resultMap id="planSearchResultMap" type="com.xescm.ofc.domain.OfcPlanScreenResult">
        <!--配置映射关系-->
        <!--column是结果集中的列名,property是pojo的属性-->
        <result property="orderCode" column="order_code"></result>
        <result property="planCode" column="plan_code"></result>
        <result property="orderTime" column="order_time"></result>
        <result property="orderBatchNumber" column="order_batch_number"></result>
        <result property="businessType" column="business_type"></result>
        <result property="custCode" column="cust_code"></result>
        <result property="custName" column="cust_name"></result>
        <result property="plannedSingleState" column="planned_single_state"></result>
        <result property="resourceAllocationStatus" column="resource_allocation_status"></result>
        <result property="serviceProviderName" column="service_provider_name"></result>
        <result property="departureProvince" column="departure_province"></result>
        <result property="departureCity" column="departure_city"></result>
        <result property="departureDistrict" column="departure_district"></result>
        <result property="departureTowns" column="departure_towns"></result>
        <result property="destinationProvince" column="destination_province"></result>
        <result property="destinationCity" column="destination_city"></result>
        <result property="destinationDistrict" column="destination_district"></result>
        <result property="destinationTown" column="destination_town"></result>
        <result property="resourceConfirmation" column="resource_confirmation"></result>
        <result property="resourceConfirmationTime" column="resource_confirmation_time"></result>
        <result property="serviceProviderContact" column="service_provider_contact"></result>
        <result property="serviceProviderContactPhone" column="service_provider_contact_phone"></result>
        <result property="weight" column="weight"></result>
        <result property="quantity" column="quantity"></result>
    </resultMap>


    <select id="planScreen" parameterType="ofcPlanScreenCondition" resultMap="planSearchResultMap">
        SELECT
        otp.order_code orderCode,
        otp.plan_code planCode,
        otp.order_time orderTime,
        otp.order_batch_number orderBatchNumber,
        otp.business_type businessType,
        otp.cust_code custCode,
        ots.planned_single_state,
        otss.resource_allocation_status resourceAllocationStatus,
        otss.service_provider_name serviceProviderName,
        otp.departure_province departureProvince,
        otp.departure_city departureCity,
        otp.departure_district departureDistrict,
        otp.departure_towns departureTowns,
        otp.destination_province destinationProvince,
        otp.destination_city destinationCity,
        otp.destination_district destinationDistrict,
        otp.destination_town destinationTown,
        otss.resource_confirmation resourceConfirmation,
        otss.resource_confirmation_time resourceConfirmationTime,
        otss.service_provider_contact serviceProviderContact,
        otss.service_provider_contact_phone serviceProviderContactPhone,
        otp.weight weight,
        otp.quantity quantity
        FROM
        ofc_transplan_info otp
        LEFT JOIN ofc_traplan_source_status otss ON otp.plan_code = otss.plan_code
        LEFT JOIN ofc_transplan_status ots ON otp.plan_code = ots.plan_code
        LEFT JOIN ofc_fundamental_information ofi ON otp.order_code = ofi.order_code
            <where>
                <if test="orderTimePre!=null and orderTimePre!=''">
                    AND otp.order_time <![CDATA[ >= ]]>  #{orderTimePre}
                </if>
                <if test="orderTimeSuf!=null and orderTimeSuf!=''">
                    AND otp.order_time <![CDATA[ <= ]]>  #{orderTimeSuf}
                </if>
                <if test="custName!=null and custName!=''">
                    AND ofi.cust_name = #{custName}
                </if>
                <if test="orderBatchNumber!=null and orderBatchNumber!=''">
                    AND otp.order_batch_number = #{orderBatchNumber}
                </if>
                <if test="orderCode!=null and orderCode!=''">
                    AND otp.order_code = #{orderCode}
                </if>
                <if test="planCode!=null and planCode!=''">
                    AND otp.plan_code = #{planCode}
                </if>
                <if test="resourceAllocationStatus!=null and resourceAllocationStatus!=''">
                    AND otss.resource_allocation_status = #{resourceAllocationStatus}
                </if>
                AND ots.planned_single_state !='50'
        </where>
        ORDER BY otp.plan_code DESC
    </select>
</mapper>