<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcStorageTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcStorageTemplate" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="index_num" property="indexNum" jdbcType="INTEGER" />
    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
    <result column="template_type" property="templateType" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="standard_col_code" property="standardColCode" jdbcType="VARCHAR" />
    <result column="standard_col_name" property="standardColName" jdbcType="VARCHAR" />
    <result column="reflect_col_name" property="reflectColName" jdbcType="VARCHAR" />
    <result column="col_default_val" property="colDefaultVal" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
  </resultMap>


    <delete id="deleteByTemplateCode">
      DELETE
      FROM
      ofc_storage_template
      WHERE
      template_code = #{templateCode}
    </delete>


    <select id="checkTemplateNameUnique" parameterType="java.lang.String" resultType="java.lang.Integer">
      SELECT
      COUNT(temp.id)
      FROM
      (SELECT
      ost.id
      FROM
      ofc_storage_template  ost
      WHERE
      ost.template_name = #{templateName,jdbcType=VARCHAR}
      GROUP BY
      ost.template_name) temp
      GROUP BY
      temp.id

  </select>

  <select id="selectTemplateByCondition" parameterType="com.xescm.ofc.model.dto.form.TemplateCondition" resultMap="BaseResultMap">
    SELECT
      ost.index_num,
      ost.template_code,
      ost.template_type,
      ost.template_name,
      ost.cust_code,
      ost.cust_name,
      ost.standard_col_code,
      ost.standard_col_name,
      ost.reflect_col_name,
      ost.col_default_val,
      ost.creat_time,
      ost.creator,
      ost.creator_name,
      ost.oper_time,
      ost.operator,
      ost.operator_name
    FROM
    ofc_storage_template ost
    <where>
      <if test="custCode != null and custCode != ''">
        AND ost.cust_code = #{custCode, jdbcType=VARCHAR}
      </if>
      <if test="custName != null and custName != ''">
        AND ost.cust_name = #{custName, jdbcType=VARCHAR}
      </if>
      <if test="templateType != null and templateType != ''">
        AND ost.template_type = #{templateType, jdbcType=VARCHAR}
      </if>
      <if test="templateCode != null and templateCode != ''">
        AND ost.template_code = #{templateCode, jdbcType=VARCHAR}
      </if>
      <if test="templateName != null and templateName != ''">
        AND ost.template_name LIKE concat(concat('%',#{templateName, jdbcType=VARCHAR}),'%')
      </if>
    </where>
    GROUP BY
      ost.template_code
    ORDER BY
      ost.creat_time DESC


  </select>
  <select id="selectTemplateDetail" resultType="com.xescm.ofc.domain.OfcStorageTemplate">
    SELECT
    ost.index_num,
    ost.template_code,
    ost.template_type,
    ost.template_name,
    ost.cust_code,
    ost.cust_name,
    ost.standard_col_code,
    ost.standard_col_name,
    ost.reflect_col_name,
    ost.col_default_val,
    ost.creat_time,
    ost.creator,
    ost.creator_name,
    ost.oper_time,
    ost.operator,
    ost.operator_name
    FROM
    ofc_storage_template ost
    <where>
      <if test="custName != null and custName != ''">
        AND ost.cust_name = #{custName, jdbcType=VARCHAR}
      </if>
      <if test="templateType != null and templateType != ''">
        AND ost.template_type = #{templateType, jdbcType=VARCHAR}
      </if>
      <if test="templateCode != null and templateCode != ''">
        AND ost.template_code = #{templateCode, jdbcType=VARCHAR}
      </if>
      <if test="templateName != null and templateName != ''">
        AND ost.template_name LIKE concat(concat('%',#{templateName, jdbcType=VARCHAR}),'%')
      </if>
    </where>
    ORDER BY
     ost.index_num
  </select>
  <update id="updateByTemplateCode" parameterType="com.xescm.ofc.domain.OfcStorageTemplate">
    UPDATE
    ofc_storage_template
    <set>
      <if test="templateCode != null and templateCode != ''">
        template_code = #{templateCode},
      </if>
      <if test="templateType != null and templateType != ''">
        template_type = #{templateType},
      </if>
      <if test="templateName != null and templateName != ''">
        template_name = #{templateName},
      </if>
      <if test="custCode != null and custCode != ''">
        cust_code = #{custCode},
      </if>
      <if test="custName != null and custName != ''">
        cust_name = #{custName},
      </if>
      <if test="standardColCode != null and standardColCode != ''">
        standard_col_code = #{standardColCode},
      </if>
      <if test="standardColName != null and standardColName != ''">
        standard_col_name = #{standardColName},
      </if>
      <if test="reflectColName != null">
        reflect_col_name = #{reflectColName},
      </if>
      <if test="colDefaultVal != null">
        col_default_val = #{colDefaultVal},
      </if>
      <if test="creatTime != null and creatTime != ''">
        creat_time = #{creatTime},
      </if>
      <if test="creator != null and creator != ''">
        creator = #{creator},
      </if>
      <if test="creatorName != null and creatorName != ''">
        creator_name = #{creatorName},
      </if>
      <if test="operTime != null and operTime != ''">
        oper_time = #{operTime},
      </if>
      <if test="operator != null and operator != ''">
        operator = #{operator},
      </if>
      <if test="operatorName != null and operatorName != ''">
        operator_name = #{operatorName}
      </if>
      where
        template_code = #{templateCode}
        and
        index_num = #{indexNum,jdbcType=INTEGER}
    </set>
  </update>
</mapper>