<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcSiloprogramInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcSiloprogramInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_batch_number" property="orderBatchNumber" jdbcType="VARCHAR" />
    <result column="program_serial_number" property="programSerialNumber" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="document_type" property="documentType" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="estimated_time_of_delivery" property="estimatedTimeOfDelivery" jdbcType="TIMESTAMP" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="loading_place" property="loadingPlace" jdbcType="VARCHAR" />
    <result column="unloading_place" property="unloadingPlace" jdbcType="VARCHAR" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="eceiving_platform" property="eceivingPlatform" jdbcType="VARCHAR" />
    <result column="the_total_value_of" property="theTotalValueOf" jdbcType="VARCHAR" />
    <result column="support_code" property="supportCode" jdbcType="VARCHAR" />
    <result column="support_name" property="supportName" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="consignee_code" property="consigneeCode" jdbcType="VARCHAR" />
    <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
    <result column="consignee_contact" property="consigneeContact" jdbcType="VARCHAR" />
    <result column="consignee_contact_phone" property="consigneeContactPhone" jdbcType="VARCHAR" />
    <result column="consignee_fax" property="consigneeFax" jdbcType="VARCHAR" />
    <result column="consignee_email" property="consigneeEmail" jdbcType="VARCHAR" />
    <result column="consignee_post_code" property="consigneePostCode" jdbcType="VARCHAR" />
    <result column="consignee_province" property="consigneeProvince" jdbcType="VARCHAR" />
    <result column="consignee_city" property="consigneeCity" jdbcType="VARCHAR" />
    <result column="consignee_district_and_county" property="consigneeDistrictAndCounty" jdbcType="VARCHAR" />
    <result column="consignee_township_streets" property="consigneeTownshipStreets" jdbcType="VARCHAR" />
    <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR" />
    <result column="print_invoice" property="printInvoice" jdbcType="VARCHAR" />
    <result column="buyer_payment_method" property="buyerPaymentMethod" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="VARCHAR" />
    <result column="collect_flag" property="collectFlag" jdbcType="VARCHAR" />
    <result column="insure" property="insure" jdbcType="VARCHAR" />
    <result column="insure_value" property="insureValue" jdbcType="VARCHAR" />
    <result column="warehouse_number" property="warehouseNumber" jdbcType="VARCHAR" />
    <result column="service_charge" property="serviceCharge" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="create_personnel" property="createPersonnel" jdbcType="VARCHAR" />
    <result column="void_personnel" property="voidPersonnel" jdbcType="VARCHAR" />
    <result column="void_time" property="voidTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="SiloprogramAndResourceInfoResultMap" type="com.xescm.ofc.model.vo.ofc.OfcSiloprogramInfoVo">
    <id column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="order_batch_number" property="orderBatchNumber" jdbcType="VARCHAR" />
    <result column="program_serial_number" property="programSerialNumber" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="document_type" property="documentType" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="estimated_time_of_delivery" property="estimatedTimeOfDelivery" jdbcType="TIMESTAMP" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="loading_place" property="loadingPlace" jdbcType="VARCHAR" />
    <result column="unloading_place" property="unloadingPlace" jdbcType="VARCHAR" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="eceiving_platform" property="eceivingPlatform" jdbcType="VARCHAR" />
    <result column="the_total_value_of" property="theTotalValueOf" jdbcType="VARCHAR" />
    <result column="support_code" property="supportCode" jdbcType="VARCHAR" />
    <result column="support_name" property="supportName" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="consignee_code" property="consigneeCode" jdbcType="VARCHAR" />
    <result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
    <result column="consignee_contact" property="consigneeContact" jdbcType="VARCHAR" />
    <result column="consignee_contact_phone" property="consigneeContactPhone" jdbcType="VARCHAR" />
    <result column="consignee_fax" property="consigneeFax" jdbcType="VARCHAR" />
    <result column="consignee_email" property="consigneeEmail" jdbcType="VARCHAR" />
    <result column="consignee_post_code" property="consigneePostCode" jdbcType="VARCHAR" />
    <result column="consignee_province" property="consigneeProvince" jdbcType="VARCHAR" />
    <result column="consignee_city" property="consigneeCity" jdbcType="VARCHAR" />
    <result column="consignee_district_and_county" property="consigneeDistrictAndCounty" jdbcType="VARCHAR" />
    <result column="consignee_township_streets" property="consigneeTownshipStreets" jdbcType="VARCHAR" />
    <result column="consignee_address" property="consigneeAddress" jdbcType="VARCHAR" />
    <result column="print_invoice" property="printInvoice" jdbcType="VARCHAR" />
    <result column="buyer_payment_method" property="buyerPaymentMethod" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="VARCHAR" />
    <result column="collect_flag" property="collectFlag" jdbcType="VARCHAR" />
    <result column="insure" property="insure" jdbcType="VARCHAR" />
    <result column="insure_value" property="insureValue" jdbcType="VARCHAR" />
    <result column="warehouse_number" property="warehouseNumber" jdbcType="VARCHAR" />
    <result column="service_charge" property="serviceCharge" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="create_personnel" property="createPersonnel" jdbcType="VARCHAR" />
    <result column="void_personnel" property="voidPersonnel" jdbcType="VARCHAR" />
    <result column="void_time" property="voidTime" jdbcType="TIMESTAMP" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="trans_code" property="transCode" jdbcType="VARCHAR" />
     <result column="service_provider_name" property="serviceProviderName" jdbcType="VARCHAR" />
    <result column="service_provider_code" property="serviceProviderCode" jdbcType="VARCHAR" />
     <result column="planned_single_state" property="plannedSingleState" jdbcType="VARCHAR" />
  </resultMap>

  <!--非作废仓储计划单列表查询-->
  <select id="ofcSiloprogramInfoScreenList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    osp.plan_code,
    osp.order_code,
    osp.order_batch_number,
    osp.program_serial_number,
    osp.business_type,
    osp.document_type,
    osp.order_time,
    osp.cust_code,
    osp.warehouse_code,
    osp.warehouse_name,
    osp.estimated_time_of_delivery,
    osp.arrive_time,
    osp.loading_place,
    osp.unloading_place,
    osp.delivery_place,
    osp.eceiving_platform,
    osp.the_total_value_of,
    osp.support_code,
    osp.support_name,
    osp.notes,
    osp.consignee_code,
    osp.consignee_name,
    osp.consignee_contact,
    osp.consignee_contact_phone,
    osp.consignee_fax,
    osp.consignee_email,
    osp.consignee_post_code,
    osp.consignee_province,
    osp.consignee_city,
    osp.consignee_district_and_county,
    osp.consignee_township_streets,
    osp.consignee_address,
    osp.print_invoice,
    osp.buyer_payment_method,
    osp.order_amount,
    osp.collect_flag,
    osp.insure,
    osp.insure_value,
    osp.warehouse_number,
    osp.service_charge,
    osp.creation_time,
    osp.create_personnel,
    osp.merchandiser,
    osp.void_personnel,
    osp.void_time
    FROM
    ofc_siloprogram_info osp
    LEFT JOIN ofc_silopro_status oss ON osp.plan_code = oss.plan_code
    <where>
      <if test="orderCode!=null and orderCode!=''">
        osp.order_code =#{orderCode}
      </if>
      AND oss.planned_single_state !='50'
      <if test="ifFinished!=null and ifFinished!=''">
        AND oss.planned_single_state !='40'
      </if>
    </where>
  </select>

  <select id="ofcSiloprogramAndResourceInfo" parameterType="java.lang.String" resultMap="SiloprogramAndResourceInfoResultMap">
      SELECT
    sinfo.plan_code,
    sinfo.order_code,
    sinfo.order_batch_number,
    sinfo.program_serial_number,
    sinfo.business_type,
    sinfo.document_type,
    sinfo.order_time,
    sinfo.cust_code,
    sinfo.warehouse_code,
    sinfo.warehouse_name,
    sinfo.estimated_time_of_delivery,
    sinfo.arrive_time,
    sinfo.loading_place,
    sinfo.unloading_place,
    sinfo.delivery_place,
    sinfo.eceiving_platform,
    sinfo.the_total_value_of,
    sinfo.support_code,
    sinfo.support_name,
    sinfo.notes,
    sinfo.consignee_code,
    sinfo.consignee_name,
    sinfo.consignee_contact,
    sinfo.consignee_contact_phone,
    sinfo.consignee_fax,
    sinfo.consignee_email,
    sinfo.consignee_post_code,
    sinfo.consignee_province,
    sinfo.consignee_city,
    sinfo.consignee_district_and_county,
    sinfo.consignee_township_streets,
    sinfo.consignee_address,
    sinfo.print_invoice,
    sinfo.buyer_payment_method,
    sinfo.order_amount,
    sinfo.collect_flag,
    sinfo.insure,
    sinfo.insure_value,
    sinfo.warehouse_number,
    sinfo.service_charge,
    sinfo.creation_time,
    sinfo.create_personnel,
    sinfo.merchandiser,
    sinfo.void_personnel,
    sinfo.void_time,
    sss.plate_number,
    sss.driver_name,
    sss.contact_number,
    sss.trans_code,
    sss.service_provider_name,
    sss.service_provider_code,
    ss.planned_single_state
    FROM
    ofc_siloprogram_info sinfo
    LEFT JOIN ofc_silopro_source_status sss ON sinfo.plan_code = sss.plan_code
    LEFT JOIN ofc_silopro_status ss ON sinfo.plan_code = ss.plan_code
    <where>
         1 = 1
    	 <if test="plannedSingleState!=null and plannedSingleState!=''">
         AND ss.planned_single_state =#{plannedSingleState}
        </if>
      <if test="orderCode!=null and orderCode!=''">
         AND sinfo.order_code =#{orderCode}
      </if>
    </where>
  </select>
</mapper>