<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcSiloproNewstatusMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcSiloproNewstatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="job_new_status" property="jobNewStatus" jdbcType="VARCHAR" />
    <result column="job_status_update_time" property="jobStatusUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>