<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcTaskDailyReportMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcTaskDailyReport" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="VARCHAR" />
    <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="task_data" property="taskData" jdbcType="VARCHAR" />
    <result column="task_exe_count" property="taskExeCount" jdbcType="INTEGER" />
    <result column="exe_instance_ip" property="exeInstanceIp" jdbcType="VARCHAR" />
    <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="exe_time" property="exeTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="columns">
    id, task_type, ref_no, cust_code, task_data, task_exe_count, exe_instance_ip, task_status,creation_time, update_time, exe_time, yn
  </sql>

  <select id="queryDailyReportTask" resultMap="BaseResultMap" parameterType="com.xescm.ofc.domain.OfcTaskDailyReport">
    select
    <include refid="columns"/>
    from ofc_task_daily_report otdr
    where yn = 1 and task_status = 1 <![CDATA[ and task_exe_count < 3 ]]> and date_format(exe_time , '%Y-%m-%d') = curdate()
    and CURRENT_TIMESTAMP() between exe_time and date_add(exe_time , INTERVAL 1 HOUR)
    and task_type = #{taskType}
  </select>

  <update id="updateDailyReportTask" parameterType="com.xescm.ofc.domain.OfcTaskDailyReport">
    update ofc_task_daily_report
    <set>
      <if test="taskExeCount != null and taskExeCount != ''">
        task_exe_count = #{taskExeCount},
      </if>
      <if test="taskStatus != null and taskStatus != ''">
        task_status = #{taskStatus},
      </if>
      <if test="exeInstanceIp != null and exeInstanceIp != ''">
        exe_instance_ip = #{exeInstanceIp},
      </if>
      update_time = CURRENT_TIMESTAMP()
    </set>
    where id = #{id}
  </update>

</mapper>