<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.OfcTransplanStatusMapper" >
  <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.OfcTransplanStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="planned_single_state" property="plannedSingleState" jdbcType="VARCHAR" />
    <result column="planned_start_time" property="plannedStartTime" jdbcType="TIMESTAMP" />
    <result column="planned_completion_time" property="plannedCompletionTime" jdbcType="TIMESTAMP" />
    <result column="task_start_time" property="taskStartTime" jdbcType="TIMESTAMP" />
    <result column="task_completion_time" property="taskCompletionTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>