<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xescm.ofc.mapper.PlanAndStorageMapper">
    <resultMap id="BaseResultMap" type="com.xescm.ofc.domain.PlanAndStorage">
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="plan_code" property="planCode" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="resource_allocation_status" property="resourceAllocationStatus" jdbcType="VARCHAR"/>
        <result column="service_provider_name" property="serviceProviderName" jdbcType="VARCHAR"/>

        <result column="service_provider_ontact" property="serviceProviderContact" jdbcType="VARCHAR"/>
        <result column="service_provider_contact_phone" property="serviceProviderContactPhone" jdbcType="VARCHAR"/>
        <result column="planned_single_state" property="plannedSingleState" jdbcType="VARCHAR"/>
        <result column="departure" property="departure" jdbcType="VARCHAR"/>

        <result column="destination" property="destination" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="finished_time" property="finishedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryPlanAndStorage" resultMap="BaseResultMap">
        SELECT DISTINCT
            osi.order_code,
            osi.plan_code,
            '仓储订单' AS type,
            osi.business_type,
            sss.resource_allocation_status,
            sss.service_provider_name,
            sss.service_provider_contact,
            sss.service_provider_contact_phone,
            oss.planned_single_state,
            owi.warehouse_name,
            oss.task_start_time AS finished_time,
            CONCAT(
                IFNULL(dbi.departure_province, ''),
                IFNULL(dbi.departure_city, ''),
                IFNULL(dbi.departure_district, ''),
                IFNULL(dbi.departure_towns, ''),
                IFNULL(dbi.departure_place, '')
            ) AS departure,
            CONCAT(
                IFNULL(dbi.destination_province,''),
                IFNULL(dbi.destination_city, ''),
                IFNULL(dbi.destination_district,''),
                IFNULL(dbi.destination_towns, ''),
                IFNULL(dbi.destination, '')
            ) AS destination
        FROM
            ofc_siloprogram_info osi
        LEFT JOIN ofc_silopro_status oss ON osi.plan_code = oss.plan_code
        LEFT JOIN ofc_silopro_source_status sss ON osi.plan_code = sss.plan_code
        LEFT JOIN ofc_distribution_basic_info dbi ON osi.order_code = dbi.order_code
        LEFT JOIN ofc_warehouse_information owi ON osi.order_code = owi.order_code
        WHERE osi.order_code = #{orderCode}
        UNION
          SELECT DISTINCT
            oti.order_code,
            oti.plan_code,
            '运输订单' AS type,
            oti.business_type,
            tss.resource_allocation_status,
            tss.service_provider_name,
            tss.service_provider_contact,
            tss.service_provider_contact_phone,
            ots.planned_single_state,
            owi.warehouse_name,
            ots.task_completion_time AS finished_time,
            CONCAT(
                IFNULL(oti.departure_province, ''),
                IFNULL(oti.departure_city, ''),
                IFNULL(oti.departure_district, ''),
                IFNULL(oti.departure_towns, ''),
                IFNULL(oti.shipping_address, '')
            ) AS departure,
            CONCAT(
                IFNULL(oti.destination_province,''),
                IFNULL(oti.destination_city, ''),
                IFNULL(oti.destination_district,''),
                IFNULL(oti.destination_town, ''),
                IFNULL(oti.receiving_customer_address,'')
            ) AS destination
        FROM
            ofc_transplan_info oti
        LEFT JOIN
            ofc_traplan_source_status tss
        ON oti.plan_code = tss.plan_code
        LEFT JOIN
            ofc_transplan_status ots
        ON oti.plan_code=ots.plan_code
        LEFT JOIN
            ofc_warehouse_information owi
        ON oti.order_code = owi.order_code
        LEFT JOIN
            ofc_distribution_basic_info dbi
        ON oti.order_code = dbi.order_code
        WHERE
        oti.order_code = #{orderCode}
    </select>

    <select id="queryPlanAndStorageTrans" resultMap="BaseResultMap">
        SELECT DISTINCT
            oti.order_code,
            oti.plan_code,
            '运输订单' AS type,
            oti.business_type,
            tss.resource_allocation_status,
            tss.service_provider_name,
            tss.service_provider_contact,
            tss.service_provider_contact_phone,
            ots.planned_single_state,
            owi.warehouse_name,
            ots.task_completion_time AS finishedTime,
            CONCAT(
                IFNULL(oti.departure_province, ''),
                IFNULL(oti.departure_city, ''),
                IFNULL(oti.departure_district, ''),
                IFNULL(oti.departure_towns, ''),
                IFNULL(oti.shipping_address, '')
            ) AS departure,
            CONCAT(
                IFNULL(
                    oti.destination_province,
                    ''
                ),
                IFNULL(oti.destination_city, ''),
                IFNULL(
                    oti.destination_district,
                    ''
                ),
                IFNULL(oti.destination_town, ''),
                IFNULL(oti.receiving_customer_address, '')
            ) AS destination
        FROM
            ofc_transplan_info oti
        LEFT JOIN
            ofc_traplan_source_status tss
        ON oti.order_code = tss.order_code
        LEFT JOIN
            ofc_transplan_status ots
        ON oti.order_code = ots.order_code
        LEFT JOIN
            ofc_warehouse_information owi
        ON oti.order_code = owi.order_code
        LEFT JOIN
            ofc_distribution_basic_info dbi
        ON oti.order_code = dbi.order_code
        WHERE
        oti.order_code = #{orderCode}
    </select>

</mapper>